.container {
    background-color: rgb(204, 223, 135);
    width: 200;
    height: 800px;
}

.box1 {
    background-color: rgb(51, 129, 97);
    
}

.box2 {

    background-color: brown;
}
.box3{
    background-color: bisque;
}